<% include templates/header.ejs %>
  <ul class="profile">
   	<li><a class="menuoptions" href="/committee/<%= id %>/<%= club_id %>/viewclub">View Club</a> </li>
   	<li><a class="menuoptions" href="/committee/<%= id %>/<%= club_id %>/statistics">Statistics</a> </li>
   	<li><a class="menuoptions" href="/committee/<%= id %>/<%= club_id %>/teams">Teams</a> </li>
    <li><a class="menuoptions" href="/committee/<%= id %>/<%= club_id %>/editclub">Edit Club</a> </li>
    <li><a class="menuoptions" href="/committee/<%= id %>/<%= club_id %>/addcommittee">Add Committee Members</a> </li>
    <li><a class="menuoptions" href="/committee/<%= id %>/<%= club_id %>/removecommittee">Remove Your Committee Status</a> </li>
    <li><a class="menuoptions" href="/committee/<%= id %>/<%= club_id %>/deleteclub">Delete Club</a> </li>
  </ul>
</body>
</html>