<% include templates/header.ejs %>
	</br></br>
	<p class="checkpage">Are you sure you want to delete your lift?</p>
	<form action="/liftsharing/<%= id %>/<%= club_id %>/mylifts/<%= route_id %>/liftdeleted" method="GET">
		</br></br></br></br>
		<button class="button checkpage checkbutton" type="submit">Delete</button>
	</form>
	<form action="/liftsharing/<%= id %>/<%= club_id %>/mylifts" method="GET">
		<button class="button checkpage checkbutton" type="submit">Cancel</button>
	</form>
</body>
</html>