<% include templates/header.ejs %>
	<div class="menu">
		<form action="/edituser/<%= id %>" method="POST">
			<p class="editoptions">First Name: <input class="edit" type="text" name="first_name" value="<%- first_name %>"></p>
			<p class="editoptions">Last Name: <input class="edit" type="text" name="last_name" value="<%- last_name %>"></p>
			<p class="editoptions">Date of Birth: <input class="edit" type="date" name="dob" value="<%- dob %>"></p>
			<p class="editoptions">Address: <input class="edit" type="text" name="address" value="<%- address %>"></p>
			<p class="editoptions">Email: <input class="edit" type="email" name="email" value="<%- email %>"></p>
			<p class="editoptions">Telephone: <input class="edit" type="number" name="telephone" value="<%- telephone %>"></p>
			<p class="editoptions">Year: <input class="edit" type="number" name="year" value="<%- year %>"></p>
			</br>
			<button class="button checkbutton rightshift" type="submit" value="Submit">Submit</button>
			</br>
		</form>
	</div>
</body>
</html>