<% include templates/header.ejs %>
  <ul class="menu">
    <li><a class="menuoptions" href="/liftsharing/<%= id %>/<%= club_id %>/mylifts">My Lifts</a> </li>
    <li><a class="menuoptions" href="/liftsharing/<%= id %>/<%= club_id %>/addlift">Add Lift</a> </li>

  <% for(var i=0; i < car.length; i++) {%>


  <table class="liftlist largemenu">

<li style="list-style-type:none">

<td class="buttongrid">
<form action="/liftsharing/<%= id %>/<%= club_id %>/<%= car[i].route_id %>/reservelift" method="GET"> 
<button class="button" id="reservelift" type="submit">Reserve</button>
</form>
</td>


<td class="left">
  Driver:</br>
  Pickup Location:</br>
  Drop Off Location:
</td>
<td class="leftvalue">
  <b><%- car[i].driver %></b> </br>
  <b><%- car[i].pick_up_location %></b></br>
  <b><%- car[i].drop_off_location %></b>
</td>

<td class="center">
  Seats:</br>
  Pickup date:</br>
  Drop Off date:
</td>
<td class="centervalue">
  <b><%- car[i].seats %> </b> </br>
  <b><%- car[i].pick_up_date %></b></br>
  <b><%- car[i].drop_off_date %></b>
</td>
<td class="right">
Return:</br>
  Pickup time:</br>
    Drop Off time:
</td>
<td class="rightvalue">
<b><%- car[i].return_trip %></b></br>
<b><%- car[i].pick_up_time %></b></br>
<b><%- car[i].drop_off_time %></b>
</td>


</li>
  </ul>
  </table>
   
<% } %>





</body>
</html> 
