<% include templates/header.ejs %>
  <table class="liftlist largemenu memberlayout">
    <tr class="member">
      <td class="member"><b>First Name: </b></td>
      <td class="member"><%- first_name %></td>
    </tr>
    <tr class="member">
      <td class="member"><b>Last Name: </b></td>
      <td class="member"><%- last_name %></td>
    </tr>
    <tr class="member">
      <td class="member"><b>Date of Birth: </b></td>
      <td class="member"><%- dob %></td>
    </tr>      
    <tr class="member">
      <td class="member"><b>Address: </b></td>
      <td class="member"><%- address %></td>
    </tr>
    <tr class="member">
      <td class="member"><b>Email: </b></td>
      <td class="member"><%- email %></td>
    </tr>
    <tr class="member">
      <td class="member"><b>Telephone: </b></td>
      <td class="member"><%- telephone %></td>
    </tr>
    <tr class="member">
      <td class="member"><b>Year: </b></td>
      <td class="member"><%- year %></td>
    </tr>
	</table>
</body>
</html>