<% include templates/header.ejs %>
  <ul class="profile">
    <li class="menuoptions"><b>First Name: </b><%- first_name %> </li>
    <li class="menuoptions"><b>Last Name: </b><%- last_name %></li>
    <li class="menuoptions"><b>Date of Birth: </b><%- dob %></li>
    <li class="menuoptions"><b>Address: </b><%- address %></li>
    <li class="menuoptions"><b>Email: </b><%- email %></li>
    <li class="menuoptions"><b>Telephone: </b><%- telephone %></li>
    <li class="menuoptions"><b>Year: </b><%- year %></li>
  </ul>
</body>
</html>