<!DOCTYPE html>
  <html>
    <head>
      <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
      <% include templates/header.ejs %>

      <p>first name: <%- first_name %> </p>
      <p>last name: <%- last_name %></p>
      <p>Date of Birth:<%- dob %></p>
      <p>address:<%- address %></p>
      <p>Email:<%- email %></p>
      <p>Telephone:<%- telephone %></p>
      <p>Year:<%- year %></p>
    </body>
  </html>
