<% include templates/header.ejs %>
	<a class="menuoptions" href="/committee/<%= id %>/<%= club_id %>/statistics/<%= team_id %>/addevent">Add Event</a> 
	<a class="menuoptions" href="/committee/<%= id %>/<%= club_id %>/statistics/<%= team_id %>/attendancestatistics">Attendance Statistics</a> 
	<a class="menuoptions" href="/committee/<%= id %>/<%= club_id %>/statistics/<%= team_id %>/roomstatistics">Room Booking Statistics</a> 
</body>
</html>